<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description"
	content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
<meta name="author" content="themefisher.com">

<title>Novena- Health & Care Medical template</title>

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

<!-- bootstrap.min css -->
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
<!-- Icon Font Css -->
<link rel="stylesheet" href="plugins/icofont/icofont.min.css">
<!-- Slick Slider  CSS -->
<link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
<link rel="stylesheet"
	href="plugins/slick-carousel/slick/slick-theme.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Main Stylesheet -->
<link rel="stylesheet" href="css/style.css">
<style>
.news-image {
	height: 300px; /* Đặt chiều cao cố định cho hình ảnh */
	object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
	width: 100%; /* Chiều rộng 100% */
}
a.backtop.js-scroll-trigger.reveal {
	background: pink !important;
}
.pink {
	background: pink !important;
}

.pink-cl {
	color: pink !important;
}
</style>
</head>

<body id="top">

	<th:block th:replace="~{user/fragment/header :: header}"></th:block>




	<div class="container mt-5">
		<h2 class="mb-4">Lịch sử đăng ký hiến máu của bạn</h2>

		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Ngày Đăng Ký</th>
					<th>Địa Điểm</th>
					<th>Thời Gian Hiến</th>
					<th>Trạng Thái</th>
				</tr>
			</thead>
			<tbody>
				<!-- Thông tin lịch sử hiến máu -->
				<tr>
					<td>10/10/2024</td>
					<td>Trung Tâm Hiến Máu Nhân Đạo Tp.HCM</td>
					<td>07:30 - 16:00</td>
					<td><span class="badge badge-success">Đã Hiến</span></td>
				</tr>
				<tr>
					<td>20/08/2024</td>
					<td>Bệnh viện Chợ Rẫy</td>
					<td>08:00 - 12:00</td>
					<td><span class="badge badge-warning">Đã Đăng Ký</span></td>
				</tr>
				<tr>
					<td>05/06/2024</td>
					<td>Bệnh viện Nhân dân 115</td>
					<td>07:30 - 16:00</td>
					<td><span class="badge badge-success">Đã Hiến</span></td>
				</tr>
			</tbody>
		</table>
	</div>




	<!-- footer Start -->
	<th:block th:replace="~{user/fragment/footer :: footer}"></th:block>


	<!-- 
    Essential Scripts
    =====================================-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

	<!-- Main jQuery -->
	<script src="plugins/jquery/jquery.js"></script>
	<!-- Bootstrap 4.3.2 -->
	<script src="plugins/bootstrap/js/popper.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="plugins/counterup/jquery.easing.js"></script>
	<!-- Slick Slider -->
	<script src="plugins/slick-carousel/slick/slick.min.js"></script>
	<!-- Counterup -->
	<script src="plugins/counterup/jquery.waypoints.min.js"></script>

	<script src="plugins/shuffle/shuffle.min.js"></script>
	<script src="plugins/counterup/jquery.counterup.min.js"></script>
	<!-- Google Map -->
	<script src="plugins/google-map/map.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

	<script src="js/script.js"></script>
	<script src="js/contact.js"></script>

</body>
</html>