<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description"
	content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
<meta name="author" content="themefisher.com">

<title>Novena- Health & Care Medical template</title>

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

<!-- bootstrap.min css -->
<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
<!-- Icon Font Css -->
<link rel="stylesheet" href="plugins/icofont/icofont.min.css">
<!-- Slick Slider  CSS -->
<link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
<link rel="stylesheet"
	href="plugins/slick-carousel/slick/slick-theme.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Main Stylesheet -->
<link rel="stylesheet" href="css/style.css">
<style>
.news-image {
	height: 300px; /* Đặt chiều cao cố định cho hình ảnh */
	object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
	width: 100%; /* Chiều rộng 100% */
}

a.backtop.js-scroll-trigger.reveal {
	background: #ea3b7b !important;
}

.pink {
	background: #ea3b7b !important;
}

.pink-cl {
	color: #ea3b7b !important;
}
</style>
</head>

<body id="top">

	<th:block th:replace="~{user/fragment/header :: header}"></th:block>




	<div class="container mt-5">
		<h2 class="mb-4">Lịch sử đăng ký hiến máu của bạn</h2>

		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Ngày Đăng Ký</th>
					<th>Địa Điểm</th>
					<th>Thời Gian Hiến</th>
					<th>Trạng Thái</th>
				</tr>
			</thead>
			<tbody>
				<!-- Iterate over bloodDonationHistories using Thymeleaf -->
				<tr th:each="history : ${bloodDonationHistories}">
					<!-- Check if registrationDate is not null before formatting -->
					<td
						th:text="${#temporals.format(history.registrationDate, 'dd/MM/yyyy')}">10/10/2024</td>


					<td th:text="${history.location}">Trung Tâm Hiến Máu Nhân Đạo
						Tp.HCM</td>

					<!-- Concatenate startTime and endTime -->
					<td th:text="${history.startTime} + ' - ' + ${history.endTime}">07:30
						- 16:00</td>

					<td><span
						th:if="${history.medicalstatus == 'Không có bệnh.' or (history.medicalstatus != null and history.medicalstatus.isEmpty())}"
						th:text="${history.status}"
						th:classappend="${history.status == 'Pending' ? 'badge badge-warning' : 'badge badge-success'}">
					</span> <span
						th:if="${history.medicalstatus != 'Không có bệnh.' and !(history.medicalstatus != null and history.medicalstatus.isEmpty())}">
							Không đủ điều kiện </span></td>

				</tr>

			</tbody>
		</table>

	</div>




	<!-- footer Start -->
	<th:block th:replace="~{user/fragment/footer :: footer}"></th:block>


	<!-- 
    Essential Scripts
    =====================================-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

	<!-- Main jQuery -->
	<script src="plugins/jquery/jquery.js"></script>
	<!-- Bootstrap 4.3.2 -->
	<script src="plugins/bootstrap/js/popper.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="plugins/counterup/jquery.easing.js"></script>
	<!-- Slick Slider -->
	<script src="plugins/slick-carousel/slick/slick.min.js"></script>
	<!-- Counterup -->
	<script src="plugins/counterup/jquery.waypoints.min.js"></script>

	<script src="plugins/shuffle/shuffle.min.js"></script>
	<script src="plugins/counterup/jquery.counterup.min.js"></script>
	<!-- Google Map -->
	<script src="plugins/google-map/map.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

	<script src="js/script.js"></script>
	<script src="js/contact.js"></script>

</body>
</html>